@font-face {
    font-family: 'manifesto';
    src: url('../font/MANIFESTO.ttf');
}

body{
background-color: #3caa9c;
    height: 100%;
    background-color: #3caa9c;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'manifesto';
    color:white;
}



.miss{
    color:#ff6f7d;
    text-transform: uppercase;
    list-style-type: none;
}

.aqui {
    color: white;
    text-transform: uppercase;
    list-style-type: none;
}


.container {

    height: 100%;
}

.autocomplete-selected { display:none }
#resultats{
    min-height: 10px;
    width: 80%;
    margin-left : 10%;

    
}
.miss{color:red}

#search select{

  background-color: #3caa9c;
  color: white;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 20px;  


}

#nbcock {
    margin-top: 10px;
}

#nbcock select {

  background-color: #3caa9c;
  color: white;
  border-radius: 5px;
  width: 30%;  
}

.modal-body {
    color: white;
}
.barre{

    background-color: #79c8c1;
    border-radius: 5px;
    height: 15px;
    margin-top: 10%;

}
.titre-appli {

    font-family: 'manifesto';
    font-size: 2em;
    color: white;
    text-align: center;

}
#add {

    display: block;
    margin-right: auto;
    margin-left: auto;

}


.btn-result{

    font-family: 'manifesto';
    display: block;
    background-color: rgb(48, 136, 125);
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border: 1px solid #000;

}
.btn-result:focus,
.btn-result.focus {

    color: white;
    background-color: rgb(48, 136, 125);
    border-color: #000;

}
.btn-result:hover {

    color: white;
    background-color: rgb(48, 136, 125);
    border-color: #000;
}
.btn-result:active,
.btn-result.active,
.open > .dropdown-toggle.btn-primary {

    color: white;
    background-color: rgb(48, 136, 125);
    border-color: #000;
}
.btn-perso {

    font-family: 'manifesto';
    color: #3fab9d;
    background-color: #fff;
    border: 2px solid #324960;
}
.btn-plus {

   
    font-weight: bold;
}
.btn2{
    background-color: #3caa9c;
    color:white;
}
.btn-perso:focus,
.btn-perso.focus {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}
.btn-perso:hover {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}
.btn-perso:active,
.btn-perso.active,
.open > .dropdown-toggle.btn-primary {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}

.ui-autocomplete{



    overflow: auto;
    max-height: 100px;
    color: white;


}
.result {

    color: #fff;
    list-style-type: none;
    background: url(../img/watermelon.png) no-repeat 30px 0;
    padding-left: 50px;


}
.mes-ingredients {

    font-family: 'manifesto';
    background-color: #ff6f7d;
    min-height: 160px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: auto;
    max-height: 250px;
    border: 3px solid #B23C47;




}
.titre-ingredients {

    font-size: 1.8em;
    text-align: center;
    color: #fff;
    padding-top: 4%;

}
.position-img {

    padding-bottom: 3px;

}
.result span {

    font-weight: bold;
    padding-left: 10px;
    color: #630505;

}
.ui-menu-item {

    list-style-type: none;
    background: url(../img/watermelon.png) no-repeat 0 5px;
    padding-left: 20px;

}
img {

    display: block;
    max-width: 100%;
    height: auto;
}
.ui-autocomplete-input {

    padding: 4px 4px 4px 4px;
    font-family: 'manifesto';
    margin-bottom:100px;
    font-size: 1.3em;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: #8bccc3;

}
.ui-helper-hidden-accessible{
    display: none
}
.cocktail{
    min-height: 100px;
    width: 80%;
    margin-left:10%;
}
.place::-webkit-input-placeholder {
    color: red
}

.modal-content {
    background-color: #ff6f7d;
       margin-left:auto;
    margin-right:4%;
}

.modal-content h4 {
    font-family: 'manifesto';
    color: white;
}

.modal-body {
    text-align: center;
    margin-left:auto;
    margin-right:3%;
}

.modal-dialog {
    margin-top: 50%;

}

.barre-bas {

    background-color: #79c8c1;
    border-radius: 5px;
    height: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

#input_array {
    border: 2px solid #000000;
    color: #3fab9d;

}

#engrenage{
    margin-top: 65px;
    margin-left: 25px;
}