@font-face {
    font-family: 'manifesto';
    src: url('../font/MANIFESTO.ttf');
}

body{
background-color: #3caa9c;
    height: 100%;
    background-color: #3caa9c;
}

.container {

    height: 100%;
}

.autocomplete-selected { display:none }
#resultats{

    min-height: 100px;
    width: 80%;
    margin-left : 10%;

    
}
.miss{color:pink}
#search{

    min-height: 100px;


}
.barre{

    background-color: #79c8c1;
    border-radius: 5px;
    height: 15px;
    margin-top: 5%;

}
.titre-appli {

    font-family: 'manifesto';
    font-size: 2em;
    color: white;
    text-align: center;

}
#add {

    display: block;
    margin-right: auto;
    margin-left: auto;

}
.resultat {



}
.btn-perso {

    font-family: 'manifesto';
    color: #3fab9d;
    background-color: #fff;
    border: 2px solid #324960;
}
.btn-perso:focus,
.btn-perso.focus {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}
.btn-perso:hover {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}
.btn-perso:active,
.btn-perso.active,
.open > .dropdown-toggle.btn-primary {

    color: #3fab9d;
    background-color: #fff;
    border-color: #324960;
}

.ui-autocomplete{



    overflow: auto;
    max-height: 50px;
    color: white;


}
.result {

    color: #fff;
    list-style-type: none;
    background: url(../img/liste.png) no-repeat 35px 4px;
    padding-left: 50px;


}
.mes-ingredients {

    font-family: 'manifesto';
    background-color: #ff6f7d;
    min-height: 200px;
    border-radius: 10px;
    margin-top: 20px;




}
.titre-ingredients {

    font-size: 1.8em;
    text-align: center;
    color: #fff;
    padding-top: 4%;

}
.result span {


    padding-left: 10px;
    color: red;

}
.ui-menu-item {

    list-style-type: none;
    background: url(../img/liste.png) no-repeat 0 5px;
    padding-left: 20px;

}
img {

    display: block;
    max-width: 100%;
    height: auto;
}
.ui-autocomplete-input {


    font-family: 'manifesto';
    margin-bottom:50px;
    font-size: 1.3em;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: #8bccc3;

}
.ui-helper-hidden-accessible{
    display: none
}
.cocktail{
    min-height: 100px;
    width: 80%;
    margin-left:10%;
}
.place::-webkit-input-placeholder {
    color: red
}

.modal-content {
    background-color: #ff6f7d;
}

.modal-content h4 {
    font-family: 'manifesto';
    color: white;
}

.modal-body {
    text-align: center;
}

.modal-dialog {
    margin-top: 50%;
}